body {
	padding: 0;
	margin: 0;
	font-size: 10px;
	color: #fff;
	background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/blackorchid.png);
}
.cube_wrapper {
	margin: 150px auto;
	-webkit-perspective: 500px;
	        perspective: 500px;
	font-size: 5rem;
	width: 500px;
	height: 500px;
}
.cube {
	position: relative;
	width: inherit;
	height: inherit;
	-webkit-transform-origin: 50% 50% -250px;
	    -ms-transform-origin: 50% 50% -250px;
	        transform-origin: 50% 50% -250px;
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}
.side {
	position: absolute;
	width: inherit;
	height: inherit;
	background-color: #ccc;
	border-radius: 5px;
	border: 5px solid #fff;
	line-height: 500px;
	text-align: center;
	-webkit-transform-origin: 50% 50% -250px;
	    -ms-transform-origin: 50% 50% -250px;
	        transform-origin: 50% 50% -250px;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	        box-sizing: border-box;

}
.side1 {}
.side2 {
	-webkit-transform: rotateY(90deg);
	        transform: rotateY(90deg);
}
.side3 {
	-webkit-transform: rotateY(-90deg);
	        transform: rotateY(-90deg);
}
.side4 {
	-webkit-transform: rotateX(90deg);
	        transform: rotateX(90deg);
}
.side5 {
	-webkit-transform: rotateX(-90deg);
	        transform: rotateX(-90deg);
}
.side6 {
	-webkit-transform: rotateY(180deg);
	        transform: rotateY(180deg);
}